

/* Footer Styling */
footer {
    background-color: #ac5d5d;
    padding: 50px 0;
    color: #F7F7F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F6F1EB;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #FFFFFF;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ddd;
}

.footer-bar {
    
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Ensures footer stays at bottom */
}

.footer-bar p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #bbb;
}

.bi {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}

/* Override default link styles */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-title {
        font-size: 14px;
    }
    .footer-text,
    .footer-link {
        font-size: 10px;
    }
    footer {
        padding: 20px 0; /* Adjust footer padding for smaller screens */
    }
}
